.button-modal {
  margin-top: -20%;
  width: 100%;
  height: 50%;
}

dialog[open] {
  scale: 1;
  transition: scale .3s ease-in-out;

  @starting-style {
    scale: 0
  }

  dialog {
    transition: scale .3s ease,
    display .3 ease allow-discrete;
  }
}